.cart-1 {
    position: fixed;
    top: 0;
    left: 100vw;
    height: 100vh;
    width: 35vw;
    background-color: white;
    z-index: 3;
    transition: transform 350ms ease-in-out;
    transform: translateX(0);
    padding: 1rem;


    .item-preview {
        display:flex;
        border: 1px solid black;

        .preview-cart-image {
            width: 100px;
            border: 1px solid black;
        }
    }
}

.cart-1--active {
    transform: translateX(-35vw);
}