@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

body {
  font-family: "Nunito", sans-serif;
}

button,
select {
  font: inherit;
  padding: 0.25em;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.main,
.header,
.footer {
  /* padding: 0.25em; */
  /* margin: 0 auto; */
  width: 100%;
  padding-inline: 10%
}

.main {
  /* display: flex;
  gap: 1rem; */
}

.main--products {
  /* flex-flow: row wrap;
  justify-content: space-between; */
}

.main--cart {
  /* flex-flow: column nowrap; */
}

.category-products {
  display: flex;
}

.category-products .product {
  margin: 1rem;
}

.category-name {
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #0161c2;
  font-size: 1.75rem;
}

.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  /* border-bottom: 1px solid #000; */
  /* margin-bottom: 2em; */
  display:flex;
  padding-block: 1rem;
  align-items: center;

}

.header__title-bar {
  width:50%;
 
}
.header__title-bar a {color: #0018a8; text-decoration:none;}

.header__price-box {
  text-align: right;
}

.nav {
  width:50%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}

nav .cart-link{
  /* margin-right: 1rem; */
  display: inline-flex;
  text-decoration:none;
  color: #0018a8;
  transition: all 100ms ease-in-out;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;

}

nav .cart-link:hover {
  background-color: lightblue;
  /* color:white; */
}

nav .cart-link .basket-icon {
  margin-right: 0.25rem;
}

nav .price {
  color: green;

}

.footer {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.product {
  /* width: 90%; */
  /* margin-bottom: 1em; */
}

.product__img {
  /* max-width: 350px; */
}

.app-overlay {
  background-color: rgba(0,0,0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 0;
  height: 0;
  /* transition: all 200ms ease-in-out;
  transform: translateX(100vw); */
}

.app-overlay--active {
  /* transform: translateX(-100vw); */
  width: 100vw;
  height: 100vh;
}

/* .cart {
  padding: 0;
  margin-top: 0.5em;
} */

/* .cart__item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 0.5em;
  border-bottom: 1px solid lightgray;
} */

/* .cart__img {
  display: none;
  min-width: 68px;
}

.cart__select {
  max-height: 48px;
} */

/* .cart__item-subtotal {
  display: none;
  text-align: center;
}

.cart__button {
  max-height: 48px;
  justify-self: flex-end;
} */

/* .cart__totals {
  display: flex;
  flex-flow: column;
  gap: 1em;
} */

@media screen and (min-width: 601px) {
  .product {
    width: 30%;
  }

  .cart__item {
    /* grid-template-columns: 3fr 15fr 5fr 1fr 8fr 1fr; */
  }

  .cart__img,
  .cart__item-subtotal {
    display: block;
  }

  .cart__submit {
    max-width: 300px;
  }
}

@media screen and (min-width: 1650px){
  .main--products{
    width:75%;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* .product-page {
  width: 90%;
  margin: auto;
  border: black 1px solid;
  height: 100vh;
  padding: 50px;
}

.product-page .product-img {
  width: 300px;
  height: 300px;
  border: 1px solid darkcyan;
  border-radius: 50%;
  display: inline-block;
} */
